@import "../../../../styles/colors";

.heading-section {
  height: 100vh;
}

.heading-section video {
  object-fit: cover;
  min-width: 100%;
}

.heading-section .video-overlay {
  opacity: 0.7;
}

.text-justify {
  text-align: justify;
}

.sponsors-section img {
  filter: contrast(200%) brightness(150%) invert(50%);
}

.services-section .section-title::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 140%;
  top: 50%;
  left: -20%;
  height: 4px;
  background-color: $primary;
  z-index: -1;
}

.slide:focus {
  outline: none;
}
.heading-section ::ng-deep h1{
  font-size: 31px;
  line-height: 40px;
}
.heading-section ::ng-deep .transformY-50{
  transform: translateY(-50%);
}
.heading-section ::ng-deep video{
  height: 100vh;
}
.heading-section ::ng-deep .player{
  background-color: #fff;
    color: #f6980f;
    height: 70px;
      width: 70px;
}
.about-section ::ng-deep .slick-prev,
.heading-section ::ng-deep .slick-prev{
  left: 50px;
      z-index: 1;
}
.about-section ::ng-deep .slick-next,
.heading-section ::ng-deep .slick-next {
  right: 50px;
      z-index: 1;
}
.about-section ::ng-deep .slick-prev:before,
.heading-section ::ng-deep .slick-prev:before,
.about-section ::ng-deep .slick-next:before,
.heading-section ::ng-deep .slick-next:before {
  font-family: "slick";
  font-size: 40px;
  line-height: 1;
  color: #f6980f;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.heading-section ::ng-deep .mat-raised-button{
    font-size: 16px;
    font-weight: 600;
}

.about-section h1.mat-headline {
    font-size: 30px;

}


.about-section h1.mat-headline span.transform-X {
    font-size: 82px;
      display: block;
      transform: translateX(-200px);
      width: max-content;
      line-height: 120%;
      font-weight: 800;
      margin-top: 10px;
}

.about-section p {
  font-size: 16px;
  line-height: 120%;
}
.about-section{
  overflow: hidden;
}
