<div class="container mx-auto">
  <div class="d-flex flex-wrap justify-content-center py-5">
    <mat-card class="col-12 col-md-9 col-lg-7">
      <mat-card-content class="p-4">
        <h2 class="text-primary text-2xl my-0 fw-bolder">
          {{ "REFUND_POLICY_PAGE.TITLE" | translate }}
        </h2>
        <p class="mt-2">
          {{ "REFUND_POLICY_PAGE.PARAGRAPH_0" | translate }}
        </p>
        <br />
        <h3 class="text-primary text-2xl my-0 fw-bolder">
          {{ "REFUND_POLICY_PAGE.LIST_TITLE" | translate }}
        </h3>
        <ul>
          <li class="mb-2">
            {{ "REFUND_POLICY_PAGE.LIST_ITEM_0" | translate }}
          </li>
          <li class="mb-2">
            {{ "REFUND_POLICY_PAGE.LIST_ITEM_1" | translate }}
          </li>
          <li>
            {{ "REFUND_POLICY_PAGE.LIST_ITEM_2" | translate }}
            &nbsp;
            {{ "REFUND_POLICY_PAGE.LIST_ITEM_2_BOLDER" | translate }}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
