<div class="container mx-auto">
  <div class="flex flex-wrap flex-row justify-center py-4">
    <div class="block">
      <p class="mt-2">
        {{ "TERMS_PAGE.PARAGRAPH" | translate }}
      </p>
      <h1 class="text-primary text-2xl mt-12">
        {{ "TERMS_PAGE.TITLE" | translate }}
      </h1>
      <p class="mt-2">
        {{ "TERMS_PAGE.PARAGRAPH_0" | translate }}
      </p>
      <h1 class="text-primary text-2xl mt-12">
        {{ "TERMS_PAGE.TITLE_1" | translate }}
      </h1>
      <p class="mt-2">
        {{ "TERMS_PAGE.PARAGRAPH_1" | translate }}
      </p>
      <h1 class="text-primary text-2xl mt-12">
        {{ "TERMS_PAGE.TITLE_2" | translate }}
      </h1>
      <p class="mt-2">
        {{ "TERMS_PAGE.PARAGRAPH_2" | translate }}
      </p>
      <h1 class="text-primary text-2xl mt-12">
        {{ "TERMS_PAGE.TITLE_3" | translate }}
      </h1>
      <p class="mt-2">
        {{ "TERMS_PAGE.PARAGRAPH_3" | translate }}
      </p>
      <h1 class="text-primary text-2xl mt-12">
        {{ "TERMS_PAGE.TITLE_4" | translate }}
      </h1>
      <p class="mt-2">
        {{ "TERMS_PAGE.PARAGRAPH_4" | translate }}
      </p>
      <h1 class="text-primary text-2xl mt-12">
        {{ "TERMS_PAGE.TITLE_5" | translate }}
      </h1>
      <p class="mt-2">
        {{ "TERMS_PAGE.PARAGRAPH_5" | translate }}
      </p>
      <h1 class="text-primary text-2xl mt-12">
        {{ "TERMS_PAGE.TITLE_6" | translate }}
      </h1>
      <p class="mt-2">
        {{ "TERMS_PAGE.PARAGRAPH_6" | translate }}
      </p>
      <h1 class="text-primary text-2xl mt-12">
        {{ "TERMS_PAGE.TITLE_7" | translate }}
      </h1>
      <p class="mt-2">
        {{ "TERMS_PAGE.PARAGRAPH_7" | translate }}
      </p>
      <h1 class="text-primary text-2xl mt-12">
        {{ "TERMS_PAGE.TITLE_8" | translate }}
      </h1>
      <p class="mt-2">
        {{ "TERMS_PAGE.PARAGRAPH_8" | translate }}
      </p>
      <h1 class="text-primary text-2xl mt-12">
        {{ "TERMS_PAGE.TITLE_9" | translate }}
      </h1>
      <p class="mt-2 mb-12">
        {{ "TERMS_PAGE.PARAGRAPH_9" | translate }}
      </p>
            <ul>
              <li>{{"TERMS_PAGE.LIST_ITEM_1" | translate}}</li>
              <li>{{"TERMS_PAGE.LIST_ITEM_2" | translate}}</li>
              <li>{{"TERMS_PAGE.LIST_ITEM_3" | translate}}</li>
              <li>{{"TERMS_PAGE.LIST_ITEM_4" | translate}}</li>
              <li>{{"TERMS_PAGE.LIST_ITEM_5" | translate}}</li>
              <li>{{"TERMS_PAGE.LIST_ITEM_6" | translate}}</li>
            </ul>
    </div>
  </div>
</div>
